<mtapp:setting
   id="mfa-email-token"
   label="<__trans phrase="Security token">"
   label_for="mfa-email-token"
   label_class="top-label form-group"
   hint="<__trans phrase="Please input security code that has been received by e-mail.">"
   show_hint="1"
   >
  <input type="text" name="mfa_email_token" id="mfa-email-token" class="form-control text full" required />
</mtapp:setting>
